<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/perfil.jpg" class="img-fluid" alt="" id="foto-perfil">
  </div>

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Rossi Franco Matias</p>
    <p>Full Stack Developer Jr</p>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <span>
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dignissimos eos sequi corrupti iusto vel
          libero! Tenetur, doloribus! Repellat quidem dolor rem eum tempora nihil ducimus. Dolorum ad vitae hic?</p>
      </span>
    </span>
  </div>
</div>